@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Ubuntu:wght@400;500&display=swap');
body {
  font-family: 'Epilogue';
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
}